# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/
ENV/

# IDEs
.vscode/
.idea/
.windsurf/

# OS files
.DS_Store
Thumbs.db

# Data folders y archivos sensibles
Invoices/
*.pdf
*.xls
*.xlsx
*.csv

# Logs
*.log
